svelteSortOrder : "options-styles-scripts-markup"
svelteStrictMode: true
svelteBracketNewLine: false
svelteAllowShorthand: false
svelteIndentScriptAndStyle: true
trailingComma: "es5"
tabWidth: 2
semi: true
singleQuote: true
